*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #181818;
	font-family: "Gilroy", "sans-serif";
	font-size: 18px;
	font-weight: 400;
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

h1,
h2,
h3,
h4 {
	color: #000;
}
img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cont {
	max-width: 1452px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
}

.home {
	padding-top: 90px;
}
.home-title {
	font-size: 100px;
	margin-bottom: 110px;
}
.home-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}
.home-card {
	border-radius: 20px;
	position: relative;
	overflow: hidden;
}
.home-img {
	position: relative;
	border-radius: 20px;
}
.home-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 45px;
}
.home-heading {
	color: #fff;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 32px;
	line-height: 35px;
}
.home-btn {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
	line-height: 18px;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid #fff;
	margin-right: auto;
	padding-bottom: 5px;
	text-align: left;
	cursor: pointer;
}

.popup {
	width: 100%;
	height: 100vh;
	min-height: 400px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	display: none;
}
.popup.show {
	display: block;
}
.popup-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 40px;
	overflow: auto;
}
.popup-body {
	max-width: 945px;
	width: 100%;
	background-color: #fff;
	padding: 0 33px 0 60px;
	margin: auto;
	border-radius: 20px;
	position: relative;
}
.popup-close {
	display: flex;
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 30;
	right: 30px;
	top: 30px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='23' viewBox='0 0 20 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline y1='-0.5' x2='27.2387' y2='-0.5' transform='matrix(-0.636881 0.770962 -0.897915 -0.44017 19 1)' stroke='black'/%3e%3cline y1='-0.5' x2='28.3196' y2='-0.5' transform='matrix(0.670913 0.741536 -0.881045 0.473033 0 1)' stroke='black'/%3e%3c/svg%3e ");
	border: none;
	outline: none;
	cursor: pointer;
}
.popup-scroll {
	max-height: 952px;
	height: 100%;
	overflow: auto;
	padding: 60px 0;
}

.popup-img {
	width: 100%;
	border-radius: 20px;
	margin-bottom: 45px;
}
.popup-content {
	display: grid;
	grid-gap: 45px;
}
.popup-section {
	display: grid;
	grid-gap: 40px;
}
.popup-title {
	font-size: 30px;
	font-weight: 500;
	line-height: 21px;
}
.popup-ul {
	display: grid;
	grid-gap: 25px;
}
.popup-li {
	display: grid;
	grid-gap: 15px;
	padding-left: 15px;
}
.popup-li__title {
	font-size: 20px;
	font-weight: 500;
	line-height: 14px;
	position: relative;
}
.popup-li__title::before {
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #000;
	position: absolute;
	left: -13px;
	top: 5px;
}
.popup-li__text {
	line-height: 22px;
}

.simplebar-scrollbar::before {
	background-color: #c2c2c2;
}
.simplebar-content {
	max-width: 760px;
}
.simplebar-track {
	height: calc(100% - 167px);
}
.simplebar-track.simplebar-vertical {
	top: auto;
	width: 10px;
	bottom: 60px;
}
.simplebar-content-wrapper {
	padding-right: 35px;
}
