
<section class="Section Section_fill Section_banner Site-section"><img class="Section-bg" src="assets/img/bg/banner.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/bg/banner.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/bg/banner@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/bg/banner@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" loading="lazy" width="1860" height="480" alt="banner.jpg"/>
  <div class="Banner Banner_primary">
    <div class="Site-wrap Section-wrap">
      <div class="Banner-row">
        <div class="Banner-unit Banner-unit_main">
          <div class="Site-textCstm Site-textCstm_lgp Site-textCstm_tbLgpSm">Заинтересованы в подборе решений для вашей отрасли?
          </div>
        </div>
        <div class="Banner-unit Banner-unit_sub">
          <div class="btn btn_success trigger" data-event="click" data-href="#consult">Получить консультацию эксперта
          </div>
        </div>
      </div>
    </div>
  </div>
</section>