
<section class="Section Site-section" id="benefits">
  <div class="Site-wrap Section-wrap">
    <div class="Section-row Section-row_benefits">
      <div class="Section-unit Section-unit_main">
        <strong class="Site-textCstm Site-textCstm_lgp">Тринити — один из&#32;<span class="Site-textCstm Site-textCstm_primary">лидеров рынка</span>&#32;системной интеграции в России
        </strong>
      </div>
      <div class="Section-unit Section-unit_sub">
        <div class="Site-textCstm Site-textCstm_mdm">Мы создаем и внедряем продукты, услуги и решения на всех уровнях ИТ-инфраструктуры для крупных государственных и коммерческих клиентов с учетом особенностей, потребностей и ресурсов бизнеса
        </div>
      </div>
      <div class="Section-unit Section-unit_common">
        <div class="Site-textCstm Site-textCstm_lg Site-textCstm_mbLgSm">Совместимость и работоспособность проектируемых решений гарантируется&#32;<span class="Site-textCstm Site-textCstm_primary">высоким уровнем компетенций</span>
        </div>
      </div>
    </div>
    <div class="Benefits Benefits_clm4 Site-benefits">
      <div class="Benefits-unit">
        <div class="Benefits-card">
          <div class="Benefits-pict"><img class="Benefits-img" src="assets/img/benefits/1.svg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" alt="1.svg"/>
          </div>
          <p class="Benefits-text">Более 30 лет на рынке&#32;<span class="Site-br Site-br_desktop"></span>ИТ-Инфраструктуры
          </p>
        </div>
      </div>
      <div class="Benefits-unit">
        <div class="Benefits-card">
          <div class="Benefits-pict"><img class="Benefits-img" src="assets/img/benefits/2.svg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" alt="2.svg"/>
          </div>
          <p class="Benefits-text">Глубокие технические компетенции
          </p>
        </div>
      </div>
      <div class="Benefits-unit">
        <div class="Benefits-card">
          <div class="Benefits-pict"><img class="Benefits-img" src="assets/img/benefits/3.svg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" alt="3.svg"/>
          </div>
          <p class="Benefits-text">Собственная лаборатория разработок
          </p>
        </div>
      </div>
      <div class="Benefits-unit">
        <div class="Benefits-card">
          <div class="Benefits-pict"><img class="Benefits-img" src="assets/img/benefits/4.svg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" alt="4.svg"/>
          </div>
          <p class="Benefits-text">Проектирование и строительство ЦОД
          </p>
        </div>
      </div>
    </div>
  </div>
</section>