
<section class="Section Section_fill Section_lt Site-section" id="import">
  <div class="Site-wrap Section-wrap">
    <div class="Section-row Section-row_importSub">
      <div class="Section-unit Section-unit_main">
        <div class="Section-header Section-header_muted"><span class="icon Section-icon"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="Frame">
<path id="Vector" d="M23.4444 28.1417H22.1919C21.1542 28.1417 20.3131 28.9829 20.3131 30.0204C20.3131 28.9829 19.4719 28.1417 18.4343 28.1417H17.1817C16.1442 28.1417 15.303 27.3005 15.303 26.2629V18.1216C15.303 17.9555 15.369 17.7962 15.4864 17.6787C15.6039 17.5613 15.7632 17.4953 15.9292 17.4953H24.6969C24.863 17.4953 25.0223 17.5613 25.1397 17.6787C25.2571 17.7962 25.3231 17.9555 25.3231 18.1216V26.2629C25.3231 27.3005 24.482 28.1417 23.4444 28.1417Z" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_2" d="M18.4343 9.35374H14.31C13.752 9.35374 13.4726 10.0283 13.8671 10.4229L15.7144 12.2701C16.654 13.2097 17.1818 14.484 17.1818 15.8128V17.4951" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_3" d="M20.3131 17.4951V15.9647C20.313 14.1377 19.5872 12.3855 18.2953 11.0937L16.5555 9.35374" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_4" d="M13.4242 9.98001H12.7979C12.1061 9.98001 11.5454 10.5408 11.5454 11.2326V13.1113C11.5454 12.4196 12.1061 11.8588 12.7979 11.8588H15.3029" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_5" d="M16.5555 7.7879C16.5555 8.65258 15.8546 9.35352 14.9899 9.35352C14.1252 9.35352 13.4242 8.65258 13.4242 7.7879C13.4242 6.92321 14.1252 6.2222 14.9899 6.2222C15.8546 6.2222 16.5555 6.92321 16.5555 7.7879Z" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_6" d="M14.9899 4.96967V6.22217" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_7" d="M9.40326 16.2672L3.40406 11.8589C3.40406 11.8589 3.01265 14.951 5.0871 17.4561" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_8" d="M13.2937 19.126L11.5484 17.8434" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_9" d="M15.2247 22.6616L2.77788 16.2425C2.77788 16.2425 3.56069 19.8044 6.26138 21.1743" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_10" d="M12.1717 21.2527H4.65663C4.65663 21.2527 5.55686 23.1315 7.94443 23.7969" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_11" d="M12.2761 21.1612L7.16162 24.3839C7.16162 24.3839 9.86232 25.5581 12.3282 24.3056" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_12" d="M13.5416 22.0744L11.989 25.3101C11.989 25.3101 14.1092 25.1862 15.2443 23.8944" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_13" d="M15.303 18.1213C15.3033 18.2858 15.271 18.4488 15.208 18.6008C15.1451 18.7528 15.0527 18.8909 14.9361 19.0071C14.447 19.4963 13.654 19.4963 13.1648 19.0071C12.6757 18.518 12.6757 17.7249 13.1648 17.2359L4.65662 7.47511C4.65662 7.47511 3.89991 10.4628 5.54381 13.4376" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_14" d="M15.3029 26.4767C13.8434 26.9925 12.7978 28.3843 12.7978 30.0205H15.9293C15.9293 28.9829 16.7704 28.1417 17.808 28.1417" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_15" d="M14.6768 30.0204V31.2729C14.6768 31.9646 14.116 32.5254 13.4243 32.5254H9.52974" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_16" d="M20.3131 30.0202V39.4141" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_17" d="M17.808 38.1616V35.9605C17.808 35.4671 17.9052 34.9785 18.094 34.5226C18.2828 34.0667 18.5596 33.6524 18.9085 33.3035L19.2125 32.9996C19.9172 32.2949 20.3131 31.3392 20.3131 30.3427V30.0203" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_18" d="M15.303 37.5352V35.7923C15.303 35.3674 15.411 34.9495 15.617 34.5779C15.823 34.2063 16.1201 33.8932 16.4803 33.668L19.1357 32.0085C19.496 31.7833 19.7931 31.4701 19.999 31.0985C20.205 30.7269 20.3131 30.309 20.3131 29.8842V29.3938" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_19" d="M22.1919 9.35374H26.3163C26.8742 9.35374 27.1536 10.0283 26.7591 10.4229L24.9118 12.2701C23.9723 13.2097 23.4444 14.484 23.4444 15.8128V17.4951" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_20" d="M20.3131 17.4951V15.9647C20.3131 15.0601 20.4912 14.1643 20.8374 13.3285C21.1836 12.4927 21.691 11.7333 22.3307 11.0937L24.0706 9.35374" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_21" d="M27.2019 9.98001H27.8281C28.5199 9.98001 29.0806 10.5408 29.0806 11.2326V13.1113C29.0806 12.4196 28.5199 11.8588 27.8281 11.8588H25.3231" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_22" d="M34.0884 14.1615L37.222 11.8589C37.222 11.8589 37.6135 14.951 35.539 17.4561" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_23" d="M27.3324 19.126L32.0491 15.66" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_24" d="M25.4015 22.6616L37.8483 16.2425C37.8483 16.2425 37.0655 19.8044 34.3648 21.1743" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_25" d="M28.4545 21.2527H35.9695C35.9695 21.2527 35.0693 23.1315 32.6817 23.7969" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_26" d="M28.3501 21.1612L33.4645 24.3839C33.4645 24.3839 30.7638 25.5581 28.2979 24.3056" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_27" d="M27.0845 22.0744L28.6371 25.3101C28.6371 25.3101 26.517 25.1862 25.3819 23.8944" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_28" d="M25.3231 18.1213C25.3229 18.2858 25.3551 18.4488 25.4181 18.6008C25.4811 18.7528 25.5735 18.8909 25.69 19.0071C26.1791 19.4963 26.9722 19.4963 27.4613 19.0071C27.9505 18.518 27.9505 17.7249 27.4613 17.2359L35.9695 7.47511C35.9695 7.47511 36.7262 10.4628 35.0823 13.4376" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_29" d="M25.3232 26.4767C26.7827 26.9925 27.8284 28.3843 27.8284 30.0205H24.6969C24.6969 28.9829 23.8557 28.1417 22.8181 28.1417" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_30" d="M25.9494 30.0204V31.2729C25.9494 31.9646 26.5102 32.5254 27.2606 32.5059H30.7637" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_31" d="M22.8181 38.1616V35.9605C22.8181 35.4671 22.721 34.9785 22.5321 34.5226C22.3433 34.0667 22.0665 33.6524 21.7176 33.3035L21.4136 32.9996C20.709 32.2949 20.3131 31.3392 20.3131 30.3427V30.0203" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_32" d="M25.3231 37.5352V35.7923C25.3231 35.3674 25.2151 34.9495 25.0091 34.5779C24.8032 34.2063 24.5061 33.8932 24.1458 33.668L21.4904 32.0085C21.1301 31.7833 20.833 31.4701 20.6271 31.0985C20.4211 30.7269 20.3131 30.309 20.3131 29.8842V29.3938" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_33" d="M20.3131 0.586183V4.34375" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_34" d="M19.6868 1.2124H20.9394" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_35" d="M22.7796 4.65559C22.6694 4.20497 22.2908 3.84099 21.8368 3.74575C21.3398 3.64161 20.8792 3.83216 20.5973 4.17528C20.4513 4.35309 20.1749 4.35309 20.0289 4.17528C19.7471 3.83216 19.2864 3.64161 18.7894 3.74575C18.3354 3.84099 17.9568 4.20497 17.8466 4.65559C17.7235 5.15918 17.9062 5.62317 18.2441 5.9134C18.3721 6.02332 18.4343 6.19168 18.4343 6.36043V6.84863H22.1919V6.36043C22.1919 6.19168 22.254 6.02332 22.3821 5.9134C22.72 5.62317 22.9028 5.15918 22.7796 4.65559Z" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_36" d="M34.0908 31.2726C34.0908 32.3102 33.2496 33.1514 32.212 33.1514C31.1744 33.1514 30.3332 32.3102 30.3332 31.2726C30.3332 30.235 31.1744 29.3938 32.212 29.3938C33.2496 29.3938 34.0908 30.235 34.0908 31.2726Z" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_37" d="M32.212 28.1415V29.394" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_38" d="M4.21194 26.0197L10.9193 34.4038" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_39" d="M4.65662 25.0102C4.65662 25.7019 4.09584 26.2627 3.40412 26.2627C2.71233 26.2627 2.15163 25.7019 2.15163 25.0102C2.15163 24.3185 2.71233 23.7577 3.40412 23.7577C4.09584 23.7577 4.65662 24.3185 4.65662 25.0102Z" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_40" d="M17.808 25.6362V23.7575C17.808 23.0657 18.3688 22.5049 19.0605 22.5049H21.5656V21.2524C21.5656 20.5607 22.1263 19.9999 22.8181 19.9999" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_41" d="M19.6868 19.9999V25.6362" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_42" d="M23.4443 23.7574L22.8181 22.5049H20.9393L22.1918 25.6362" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_43" d="M19.0606 20.6265H19.6868" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_44" d="M27.2019 7.7879C27.2019 8.65258 26.5009 9.35352 25.6362 9.35352C24.7716 9.35352 24.0706 8.65258 24.0706 7.7879C24.0706 6.92321 24.7716 6.2222 25.6362 6.2222C26.5009 6.2222 27.2019 6.92321 27.2019 7.7879Z" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
<path id="Vector_45" d="M25.6362 4.96967V6.22217" stroke="#ACB1BA" stroke-width="1.3" stroke-miterlimit="10"/>
</g>
</svg>
</span>
          <p class="Site-textCstm Site-textCstm_mdm">
            <ntp>Миграция на импортонезависимые технологии</ntp>
          </p>
        </div>
        <div class="Site-textCstm Site-textCstm_lgsp">Предлагаем&#32;<span class="Site-textCstm Site-textCstm_primary">комплексные решения</span>&#32;для реализации проектов в рамках перехода на использование российского ПО и оборудования
        </div>
        <div class="Section-footer">
          <div class="btn btn_success btn_iconHover btn_icon btn_miwMd btn_fullMb trigger" data-event="click" data-href="#discuss"><span class="btn-text">Обсудить проект</span><span class="btn-icon"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="Frame 2" clip-path="url(#clip0_578_1039)">
<path id="Union" d="M14.3603 7.49963L8.2799 13.5801L7.15476 12.455L11.3145 8.29524L0.636719 8.29524L0.636719 6.70407L11.3145 6.70407L7.15476 2.54435L8.2799 1.41924L14.3603 7.49963Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_578_1039">
<rect width="14" height="14" fill="white" transform="translate(0.5 14.5) rotate(-90)"/>
</clipPath>
</defs>
</svg>
</span>
          </div>
        </div>
      </div>
      <div class="Section-unit Section-unit_object"><img class="Section-img" src="assets/img/content/2.png<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/content/2.png<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/content/2@2x.png<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/content/2@3x.png<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" loading="lazy" width="839" height="1111" alt="2.png"/>
      </div>
    </div>
  </div>
</section>