
<section class="Section Section_fill Section_lt Section_offer Site-section">
  <div class="Site-wrap Section-wrap">
    <div class="Section-row">
      <div class="Section-unit Section-unit_main">
        <div class="Site-textCstm Site-textCstm_lgp Site-textCstm_mbLgpSm">Для нас важно предложить вам&#32;<span class="Site-textCstm Site-textCstm_primary">передовые</span>&#32;технологические решения
        </div>
      </div>
      <div class="Section-unit Section-unit_sub">
        <div class="Site-textCstm Site-textCstm_mdm Site-textCstm_mdmEq">А также обеспечить непрерывность бизнеса и его способность к устойчивому развитию, сократив расходы на содержание ИТ-инфраструктуры.
        </div>
      </div>
    </div>
  </div>
</section>