
<section class="Section Site-section Site-section_close">
  <div class="Promo">
    <div class="Site-wrap Section-wrap">
      <div class="Section-row Section-row_promo">
        <div class="Section-unit Section-unit_main">
          <strong class="Site-textCstm Site-textCstm_lgp">Подбор и реализация&#32;<span class="Site-textCstm Site-textCstm_primary">эффективных решений</span>&#32;для построения и эксплуатации&#32;
            <nobr>ИТ-инфраструктуры</nobr>
          </strong>
        </div>
        <div class="Section-unit Section-unit_sub Promo-column">
          <p class="Promo-info">Надежный технологический партнер<span class="Site-br Site-br_mobile"></span> для бизнеса любого уровня
          </p>
          <div class="Promo-footer">
            <div class="btn btn_success btn_full btn_iconHover btn_icon btn_miwMd trigger" data-event="click" data-href="#discuss"><span class="btn-text">Обсудить проект</span><span class="btn-icon"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="Frame 2" clip-path="url(#clip0_578_1039)">
<path id="Union" d="M14.3603 7.49963L8.2799 13.5801L7.15476 12.455L11.3145 8.29524L0.636719 8.29524L0.636719 6.70407L11.3145 6.70407L7.15476 2.54435L8.2799 1.41924L14.3603 7.49963Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_578_1039">
<rect width="14" height="14" fill="white" transform="translate(0.5 14.5) rotate(-90)"/>
</clipPath>
</defs>
</svg>
</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Promo-banner"><img class="Promo-bannerImg" src="assets/img/content/1.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %>" srcset="assets/img/content/1.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 1x, assets/img/content/1@2x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 2x, assets/img/content/1@3x.jpg<%= (process.env.version === 'true' ? '?v=' + opt.version : '') %> 3x" width="1839" height="550" alt="1.jpg"/>
    </div>
  </div>
</section>