
<section class="Section Site-section Site-section_mbClose">
  <div class="Site-wrap Section-wrap">
    <div class="Section-row Section-row_form">
      <div class="Section-unit Section-unit_main">
        <div class="Site-textCstm Site-textCstm_lg">Будем рады видеть вас в числе наших клиентов и готовы к <span class="Site-textCstm Site-textCstm_primary">долгосрочному</span>&#32;сотрудничеству
        </div>
      </div>
      <div class="Section-unit Section-unit_form">
        <div class="Request">
          <div class="Request-item">
            <div class="title title_md">
              <h2 class="title-base">Оставить заявку:
              </h2>
            </div>
          </div>
          <div class="Request-item Request-item_info">
            <p>Для получения дополнительной информации оставьте заявку, и мы свяжемся с вами в ближайшее время.
            </p>
          </div>
          <div class="Request-item Request-item_form">
            <form class="form form_request" action="#" method="post">
              <div class="form-row form-row_clm2 form-group">
                <div class="form-unit">
                  <input class="form-input" id="name" name="name" type="text" placeholder="Фамилия и имя *" data-validate="require"/>
                </div>
                <div class="form-unit">
                  <input class="form-input" id="phone" name="phone" type="text" placeholder="Телефон *" data-validate="require"/>
                </div>
              </div>
              <div class="form-row form-row_clm2 form-group">
                <div class="form-unit">
                  <input class="form-input" id="mail" name="mail" type="text" placeholder="Email *" data-validate="require"/>
                </div>
                <div class="form-unit">
                  <input class="form-input" id="company" name="company" type="text" placeholder="Компания *" data-validate="require"/>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-textarea" name="comment" id="comment" placeholder="Ваш вопрос или комментарий к заявке  "></textarea>
              </div>
              <div class="form-row form-row_submit form-group form-group_away">
                <div class="form-unit">
                  <button class="btn btn_success btn_miwMd btn_fullMb" type="submit">Отправить
                  </button>
                </div>
                <div class="form-unit form-unit_info">
                  <p class="form-info">Нажимая кнопку «Отправить», вы соглашаетесь с нашей&#32;<a href="#">Политикой конфиденциальности</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>