@font-face {
   font-family: Circe;
   src:               url("../fonts/Circe/Circe-Bold.woff2") format("woff2"),
           url("../fonts/Circe/Circe-Bold.woff") format("woff"),
           url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   font-display: swap;
}

@font-face {
   font-family: Circe;
   src:               url("../fonts/Circe/Circe-Regular.woff2") format("woff2"),
           url("../fonts/Circe/Circe-Regular.woff") format("woff"),
           url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   font-display: swap;
}

#__bs_notify__ {pointer-events: inherit !important;}#__bs_notify__ .errorView {text-align: left !important;font-size: 30px !important;line-height: 1.4em !important;white-space: pre-line !important;position: fixed !important;left: 0;top: 0;right: 0;bottom: 0;background: rgba(27, 32, 50, 0.85);padding: 30px;overflow: auto;font-family: monospace !important;}#__bs_notify__ .titleError {color: #f00 !important;}